/* Estilos xenéricos */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

html {
    background-color: black;
}

body {
    margin-top: 75px;
    background-color: black;
    font-family: 'Roboto', Arial, sans-serif;
    min-height: calc(100vh - 75px);
    position: relative;
}

::selection {
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
} 

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration:underline;
}

a.blanco {
    color: white;
}
a.blanco:hover {
    color: white;
}
/* Estilos da sección menú */

div.menu {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: 1px solid black;
    background-color: white;
    z-index:2;
}

div.esquerda{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 0 25px;
    align-items: center;
}

div.identidade h1{
    margin-bottom: 20px;
    background: linear-gradient(190deg, rgb(0, 0, 0) 20%, rgb(119, 119, 119) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}
div.identidade a {
    text-decoration: none;
    color: black;
}

div.seccions {
    margin-left: 15px;
}

div.seccions ul{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
}

div.seccions li {
    list-style-type: none;
    margin-right: 25px;
}

div.seccions a {
    color: black;
    text-decoration: none;
}

div.seccions a:hover {
    text-decoration: underline;
    text-decoration-style: line;
}
div.login {
    margin-right: 25px;
}
button.login {
    border: 1px solid black;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 2px 15px 2px 15px;
    border-radius: 20px;
    background-color: black;
    transition: 0.2s ease;
}

div.notificacionmenu {
    transition: 0.2s all ease;
} 
div.cestamenu:hover {
    cursor:pointer;
}

div.cestamenu:hover div.notificacionmenu {
    background-color: red;
}

/*button.login:hover {
    color: black;
    background-color: white;
}*/

div.dropdown {
    position: relative;
    display: inline-block;
    cursor: default;
}

div.dropdownmenu {
    padding-top:18px;
    margin-top:-10px;
    margin-right: 5px;
    z-index: -3;
    position: absolute;
    min-width: 115px;
    background-color:black;
    background: linear-gradient(197deg, rgb(0, 0, 0) 0%, rgb(56, 56, 56) 100%);
    color:grey;
    display: none;
    flex-direction: column;
    align-items: center;
    right: 0;
    padding-bottom: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
div.dropdownmenu a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color:lightgrey;
    padding: 10px;
    display:block;
    transition: 0.1s all ease;
    font-weight: 500;
} 

div.dropdownmenu a:hover {
    color: white;
    text-decoration: none;
}

div.dropdown:hover div.dropdownmenu {
    display: block;
}
div.dereita {
    display:flex;
    justify-content: space-between;
}



div.buscador {
    position:relative;
}
div.dereita input {
    width:350px;
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 5px 5px 15px;
    margin-right: 25px; 
    outline:none;
    z-index:4;
}

div.divmenubuscador {
    width:343px;
    opacity: 0.95;
    margin-top: -20px;
    background-color: white;
    z-index:-1;
    position:absolute;
    padding:10px;
    padding-top:25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px solid black;
    color:grey;
}

div.contedormenuresultados {
    width:330px;
}
div.resultadomenubuscador{ 
transition: 0.2s all ease;
}

div.resultadomenubuscador:hover {
    cursor:pointer;
    color:black;
}

div.duracion {
    margin-top: 17px;
}

/* Estilos de mensaxe erro */

div.mensaxeerro {
    display: none;
    

}

div.mensaxeerro.show {
    display:flex;
}
/* Estilos da vista de index */

div.indexportada {
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid black;
    background-color: #f5f5dc;
    display:flex;
    justify-content: space-between;
    background: rgb(149,182,107);
    background: linear-gradient(197deg, rgba(149,182,107,1) 0%, rgba(253,255,254,1) 100%);
    overflow: hidden;
}

div.indexesquerda {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    padding: 25px;
    height: 100%;
    padding-top: 50px;
}

div.tituloindexesquerda {
    font-size: 40px;
    font-weight: 500;
    line-height: 0.9em;
}


span.subtituloindexesquerda {
    font-size: 20px;
}

button.botonindexesquerda {
    padding: 10px;
    background-color:white;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    font-size:20px;
    font-weight: 500;
}

button.botonindexesquerda:hover {
    background-color:rgba(149,182,107,1);
}

div.svgdereita {
    width: 28%;
    height: 100%;

}

div.indextrending {
    width: 100%;
    padding: 25px;
    background-color: white;
}

div.tituloindextrending {

    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
}

div.trend {
    margin-top: 10px;
    width: 33%;
    display: flex;
    align-items: center;
  
    padding: 10px;
    border-radius: 10px;
    
}

div.trend div.posicion {
    font-size: 40px;
    float:left;
    color: lightgray;
    font-weight: 600;
    transition: 0.2s all ease;
}

div.trend div.trendingtexto {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

div.trend img.trendingportada {
    width: 65px;
    float:left;
    margin-left: 10px;
    
}

div.trend div.trendingtitulo {
    font-size: 25px;
}



div.trend:hover {
    cursor: pointer;
    /*background: linear-gradient(90deg, rgba(154,62,255,1) 0%, rgba(255,255,255,1) 100%);*/
}

div.trend:hover div.posicion {
    color: black;
}

    div.indexbuscador {
        width: 100%;
        height: 30vh;
        background: rgb(107,182,182);
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(118, 124, 209) 100%);
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        position:relative;
    }
    input.indexbuscador {
        appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
        width: 70%;
        border-radius: 30px;
        padding: 20px;
        border: 1px solid black;
        outline: none;
        font-size: 25px;
        color: white;
        transition: 0.2s all ease;
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
        text-align: center;
        z-index:1;
    }

    input.indexbuscador:hover {
        
    }
    
    input.indexbuscador::placeholder {
        color: rgb(170, 169, 169);
    }

    div.divresultadosbuscador {
        width:100%;
        background-color:black;
        background: linear-gradient(220deg, rgb(66, 66, 66) 0%, rgb(0, 0, 0) 100%);
        padding-bottom:20px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        z-index:0;
        top:0;
        position:absolute;
        opacity: 0.8;
    }

    div.resultadobuscador {
        width:100%;
        padding:5px;
        color:grey;
        font-weight: 500;
        margin-left:10px;
        font-size:20px;
        transition: all 0.2s ease;
        top:0;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:10px;
        height: 40px;
    }

    div.artistaresultado {
        transition: all 0.3s ease;
    }


    div.resultadobuscador:hover div.artistaresultado{
        color:white;
    }

    div.resultadobuscador:hover {
        cursor:pointer;
    }



    div.indextags {
        width:100%;
        background: linear-gradient(180deg, rgb(118, 124, 209) 0%, black 100%);
        padding:25px;
    }
    div.tituloindextags {
        color: white;
        width: 100%;
        font-size: 1.2em;
        font-weight: 700;
    }

    div.novidades {
        width:100%;
        height:30vh;
        background-color: black;
        padding:25px;
    }

    div.tituloindexnovidades {
        color: white;
        width: 100%;
        font-size: 1.2em;
        font-weight: 700;
    }

    div.novidade {
        margin-top: 10px;
        width: 30%;
        border-top: 2px solid white;
        border-left: 2px solid white;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        transition: 0.2s ease-in;
    }
    
    div.novidade div.posicion {
        font-size: 40px;
        float:left;
        color: lightgray;
        font-weight: 600;
    }
    
    div.novidade div.novidadetexto {
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        color:white;
    }
    
    div.novidade img.novidadeportada {
        width: 65px;
        float:left;
        margin-left: 10px;
        
    }
    
    div.novidade div.novidadetitulo {
        font-size: 25px;
    }
    
    div.novidade div.artista {
    
    }
    
    div.novidade:hover {
        cursor: pointer;
        background: rgb(211, 211, 211);
        /*background: linear-gradient(90deg, rgba(154,62,255,1) 0%, rgba(255,255,255,1) 100%);*/
    }
    
/* Estilos de vista de cesta */

table.taboacesta {
    width:90%;
    margin:0 auto;
    text-align: end;
}

tr.cabeceira {
    font-size: 12px;
    font-weight: 600;
    color:lightgrey;
}

tr.produtos {
    font-weight:600;
}
tr.produtos td {
    padding-top:10px;
    padding-bottom:10px;
}
td.tablainfoproduto {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

div.informacioncesta {
    margin-top:15px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.informacioncesta h5 {
    font-size:15px;
    font-weight: 600;
    color:lightgray;
}

button.modificarcesta {
    width:30px;
    font-size:20px;
    background:none;
    border:none;
    color:white;
}

/* Estilos da vista de álbum */

div.infoalbum {
    width: 100%;
    height: calc(100vh - 75px);
    border-bottom: 1px solid black;
    display: flex;
    background-color: white;

}
div.portada {
    width: 40%;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
} 

div.portada img {
    margin-top: 15px;
    width:80%;
    box-shadow: rgba(59, 59, 59, 0.2) 0px 4px 24px;
    border: 1px solid black
}
div.portada span.desc {
 margin-top: -20px;
}

div.albumtexto {
    width: 60%;
}

div.titulo {
    width:100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.tituloalbum {
    font-weight: 500;
    font-size: 2em;
    margin-top: -10px;
}

span.artista {
    margin-top: -10px;
    margin-bottom: 10px;
}

h2.titulo {
    margin-top: 20px;
    text-align: center;
}

div.tracklist {
    margin-top: 10px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}

div.cancion {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    transition: 0.2s ease;
    margin: 10px 0 10px 0;
}

div.cancion.play {
    background-color: white;
}

div.cancion:hover {
    cursor: pointer;
    background-color: white;
}

span.play {
    margin-top:7px;
    padding: 0 10px 0 10px;
}
div.menutrack {
    font-weight: 100;
    padding: 0 15px 0px 15px;
    border: 1px solid black;
    border-radius: 50%;
}
div.menutrack:hover{
    background-color: black;
    color:white;
}
div.menutrack.click {
    transform: rotate(45deg);
    background-color: black;
    color:white;
}
span.medio {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.titulocancion {
    font-weight: 500;
}
span.autorcancion {
    font-size: 0.8em;
}

div.albumtexto a {
    color:black;
    text-decoration: none;
}
div.albumtexto a:hover {
    text-decoration: underline;
}
.numCancion  {
    display:none;
    padding-right: 10px;
}

.simPlay {
    display: none;
}
.numCancion.show {
    display:block;
}

.simPlay.show {
    display:block;
}

    /*Información álbum*/

    div.informacionalbum {
        padding-top: 20px;
        width: 100%;
        overflow: auto;
        border-bottom: 1px solid black;
        background-color: white;
    }

    div.descripcion {
        float:left;
        width: 60%;
        margin:0 15px 0 10px;
        text-align: justify;
        height: 120%;
        
    }

    div.mercar {
        float:left;
        width:37%;

    }

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    button.xenero {
        padding:3px 7px 3px 7px;
        background-color: white;
        color: black;
        border: 1px solid black;
        font-weight: 500;
    }

    button.xenero.blanco {
        background-color: black;
        color:white;
        border-color: white;
    }

    table.prezo {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    table.prezo tr {
        border-bottom: 1px solid black;
        padding:20px;
        margin: 10px;
    }

    table.prezo tr:hover {
        background-color: lightgray;
        cursor: pointer;
    }

    table.prezo td {
        padding: 20px;
    }

/*Estilos de comentarios*/
div.comentarios {
    margin-top: 25px;
    padding-bottom: 20px;
    padding-top: 45px;
    width: 60%;
    margin:0 auto;
}
textarea.comentario {
    width: 100%;
    border: 1px solid black;
    background-color: white;
    height: 65px;
    outline: none;
}
div.comentarios button.enviar {
    width:100%;
    background-color: white;
    color:black;
    /*box-shadow: #422800 4px 4px 0 0;*/
    border: 1px solid black;
}

div.comentarios button.enviar:hover {
    background-color: black;
    color:white;
}

/* Estilos de catálogo */

div.cabeceiracatalogo {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h2.titulocabeceiracatalogo {
    font-size: 3em;
    color: black;
    text-shadow: rgba(160, 160, 160, 0.2) 0px 4px 34px;
    font-weight: 600;
    background: linear-gradient(20deg, rgb(0, 0, 0) 20%, rgb(119, 119, 119) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.corpocatalogo {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

div.filtrocatalogo {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: -10px 0 20px 0;
}

div.filtrocatalogo h3 {
    font-size: 1.2em;
    margin-top: 5px;
    font-weight: 400;
}


select.seleccionfiltro {
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    border-radius: 0px;
    height: 35px;
    font-size: 1.2em;
    border: none;
    background:transparent;
    border-bottom: 1px solid black;
    outline: none;
    transition: all 0.25s ease;
}

select.seleccionfiltro:hover {
    cursor: pointer;
}

div.divcorpocatalogo {
    width:100%;
    display:flex;
    justify-content: center;
}

div.albumescatalogo {
    width: 60%;
}

div.albumescatalogo div.fichaalbum {
    width:20%;
}

div.etiquetascatalogo {
    padding:20px;
    width:20%;
}


/* Estilos de artista */

div.artistainfo {
    width: 100%;
    height: 30vh;
    border-bottom: 1px solid black;
    background: rgb(255,255,255);
    background: linear-gradient(200deg, rgba(255,255,255,1) 20%, rgb(202, 202, 202) 100%);
    display:flex;
    justify-content: center;
    align-items: center;
}

img.artistafoto {
    height: 100%;
    border: 1px solid black;
}

h3.artistanome {
    font-size: 80px;
    color: black;
    font-weight: 700;
    /*-webkit-text-stroke: 1px black;*/
}

div.informacionartista {
    margin-top: -20px;
    padding-top: 20px;
    margin-bottom: -10px;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid black;
}

div.descripcionartista {
    float:left;
    width: 50%;
    margin:0 15px 0 10px;
    border-right: 1px solid black;
    text-align: justify;
}

div.albumesartista {
    float:left;
    width:45%;
}

div.divfichas {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

div.fichaalbum {
    width:30%;
    padding: 15px 10px 15px 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(66, 66, 66) 0%, rgb(0, 0, 0) 100%);
    color:white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}

div.fichaalbum:hover {
    background: linear-gradient(220deg, rgb(66, 66, 66) 0%, rgb(0, 0, 0) 100%);
}

img.fichaalbum {
    width: 100px;
    border-radius: 10px;
}

div.tituloficha {
    font-size: 20px;
    font-weight: 500;
}

div.artistaficha {

}

/* Estilos do perfil */

div.perfilinfo {
    width: 80%;
    height: 20vh;
    margin: 0 auto;
    border-bottom: 1px solid black;
    background: rgb(255,255,255);
    background: linear-gradient(220deg, rgb(66, 66, 66) 0%, rgb(0, 0, 0) 100%);
    display:flex;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: center;
    align-items: center;
}

img.perfilfoto {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 24px;
}
img.perfilfoto.link:hover {
    cursor:pointer
}

h3.perfilnome {
    font-size:30px;
    color: lightgrey ;
    font-weight: 600;
    /*-webkit-text-stroke: 1px black;*/
    text-shadow: rgba(85, 85, 85, 0.35) 0px 0px 15px;
}

div.informacionperfil {

    padding-top: -20px;
    margin-bottom: -10px;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid black;
}

div.descripcionperfil {
    width: 80%;
    margin:0 15px 0 10px;
    margin: 0 auto;
    border: 1px solid black;
    border-top: none;
    text-align: justify;
    background-color: lightgrey;
}

div.listasperfil {
    width:80%;
    color: lightgrey;
    margin:0 30px 0 30px;
    margin: 0 auto;
    background-color: black;
    
    
}

div.divlistas {

}

div.playlistperfil {
    margin: 0 auto;
    width:80%;
    padding:10px;
    height: 80px;
    padding:10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(30deg, rgb(29, 29, 29) 0%, rgb(12, 12, 12) 100%);
    transition: 0.3s all ease;
}

div.playlistperfil:hover {
    background: linear-gradient(300deg, rgb(29, 29, 29) 0%, rgb(22, 22, 22) 100%);
    width: 81%;
    height:82px;
    cursor: pointer;
}

div.esquerdaplaylist {
    width: 30%;
    display: flex;
    align-items: center;
}

div.dereitaplaylist {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.imaxeplaylist {
    height: 100%;
}

div.tituloplaylistperfil {
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}


/* Estilos de lista */

div.contidolista {
    width: 70%;
    background: linear-gradient(30deg, rgb(14, 14, 14) 0%, rgb(36, 36, 36) 100%);
    margin: 20px auto;
    border-radius: 20px;
    color:white;
}

div.infolista {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding:20px;
}

hr {
    color: grey;
}

img.imglista {
    height: 100%;
}

div.cancionslista {
    padding-bottom:25px;
}

div.playlistcancion {
    margin: 0 auto;
    width:80%;
    padding:10px;
    height: 60px;
    padding:10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(30deg, rgb(29, 29, 29) 0%, rgb(12, 12, 12) 100%);
    transition: 0.3s all ease;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 24px;
}

div.playlistcancion:hover {
    background: linear-gradient(300deg, rgb(29, 29, 29) 0%, rgb(22, 22, 22) 100%);
    width: 81%;
    height:62px;
    cursor: pointer;
}

h3.titulolista {
    font-weight: 600;
}

.divconfig {
    color:grey;
}

.divconfig:hover {
    color:white;
    cursor:pointer;
}

.divconfig.verde:hover {
    color:rgb(99, 175, 99);
    cursor:pointer;
}

.divconfig.rojo:hover {
    color: rgb(194, 44, 44);
}

.divconfig.notshow {
    display:none;
}

/* Script listas */

div.scriptlistas {
    display:none;
    width: 60%;
    background: linear-gradient(30deg, rgb(14, 14, 14) 0%, rgb(36, 36, 36) 100%);
    margin: 20px auto;
    height:70%;
    border-radius: 20px;
    color:white;
    background-color: black;
    overflow: scroll;
    position: fixed;
    top: 100px;
    left: 250px;
    z-index:5;
    box-shadow: rgba(19, 18, 18, 0.2) 0px 4px 24px;
}

div.scriptlistas.show {
    display:block;
}

div.scriptinfolista {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    height: 50px;
}

div.scriptlistasperfil {
    padding-bottom:20px;
}

div.playlistperfil {
    margin: 0 auto;
    width:80%;
    padding:10px;
    height: 80px;
    padding:10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(30deg, rgb(29, 29, 29) 0%, rgb(12, 12, 12) 100%);
    transition: 0.3s all ease;
}

div.playlistperfil:hover {
    background: linear-gradient(300deg, rgb(29, 29, 29) 0%, rgb(22, 22, 22) 100%);
    width: 81%;
    height:82px;
    cursor: pointer;
}

div.scriptesquerdaplaylist {
    width: 50%;
    display: flex;
    align-items: center;
}

div.dereitaplaylist {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.imaxeplaylist {
    height: 100%;
}

div.tituloplaylistperfil {
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}

/* Estilos do reproductor */

div.divreproductormp3 {
    width:100%;
    height:70px;
    background-color:black;
    color:white;
    position:fixed;
    bottom:0;
    left:0;
    text-align: center;
    font-size: 13px;
    background: linear-gradient(30deg, rgb(44, 44, 44) 0%, rgb(12, 12, 12) 100%);
    box-shadow: rgba(19, 18, 18, 0.2) 0px 4px 24px;
    z-index:2;
}

.cancionreproductormp3 {
    width:70%;
    margin: 0 auto;
}

div.closereproductor:hover {
    cursor:pointer;
    color:red;
}


/* Estilos do pé de páxina */

div.pepaxina {
    margin-top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    bottom:0;
}

div.pepaxina h2 {
    margin-left:25px;
    background: linear-gradient(180deg, rgb(228, 228, 228) 0%, rgb(85, 85, 85) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}